<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <!--mysql数据库的连接字符串-->
    <add name="DatabaseMySql" connectionString="Data Source=zljy.work;Database=prinx_problem;User ID=root;Password=Wgh171319123;Port=3306" providerName="MySql.Data.MySqlClient"/>
    <!--sqlserver数据库的连接字符串-->
    <add name="Entities" connectionString="Data Source=127.0.0.1;Initial Catalog=test;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <!--MES数据库LOG-国内-->
    <!-- <add name="DatabaseLog" connectionString="data source=10.168.65.27;uid=MESSQL;pwd=SQL123$%^;database=LONSONLOG" providerName="System.Data.SqlClient"/>-->
    <!--MES数据库-国内-->
    <add name="DatabaseConnectivity" connectionString="data source=10.151.65.11;uid=RCFixsa;pwd=asxiFCR;database=FixedAssetBarcode" providerName="System.Data.SqlClient"/>
    <!--MES数据库LOG-泰国-->
    <add name="DatabaseLog" connectionString="data source=10.151.16.101;uid=MESSQL;pwd=SQL123$%^;database=LONSONLOG" providerName="System.Data.SqlClient"/>
    <!--MES数据库-泰国-->
    <!--<add name="DatabaseConnectivity" connectionString="data source=10.151.16.101;uid=MESSQL;pwd=SQL123$%^;database=PLMES" providerName="System.Data.SqlClient"/>-->
    <!--MES数据库-测试-->
    <!--<add name="DatabaseConnectivity" connectionString="data source=10.151.82.128;uid=sa;pwd=whf110119122;database=PLMES" providerName="System.Data.SqlClient"/>-->
    <!--X光接口数据库-国内-->
    <add name="DatabaseInter" connectionString="data source=10.168.66.23;uid=MESUSER;pwd=MES123$%^;database=PLMESINTERFACE" providerName="System.Data.SqlClient"/>
    <!--软控MES数据库-国内-->
    <add name="MESNACMES" connectionString="data source=10.151.82.28;uid=MESSQL;pwd=Abc123;database=CCTTBR" providerName="System.Data.SqlClient"/>
    <!--软控MES数据库-测试-->
    <!--<add name="MESNACMES" connectionString="data source=10.151.82.36;uid=RCPCRwrite;pwd=abc123;database=CCTTBR" providerName="System.Data.SqlClient"/>-->
    <!--END-->
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <customErrors mode="Off" defaultRedirect="Error.htm"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="X-Requested-With"/>
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
      <mimeMap fileExtension="*" mimeType="application/octet-stream"/>
    </staticContent>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.7.9.0" newVersion="6.7.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>